@{ 
    ViewBag.Title = "Tes Akademik";
}
@*Header*@
<div>
    <div>
        logout
    </div>
</div>

@*Body*@
@*Content*@
<div>
    <div>
        no
        pertanyaan
    </div>
    <div>
        Jawaban
    </div>
    <div>
        sebelumnya
        ragu
        selanjutnya
    </div>
</div>

@*SideMap*@
<div>
    <div>
        Map
    </div>
    <div>
        no pertanyaan
    </div>
    <div>
        waktu
    </div>
</div>