@model TambahStaffModel
@{
    ViewBag.Title = "Tambah Staff Baru";
}

<div class="col-lg-11">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Form tambah staff</h6>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All" class="alert-danger text-danger mb-4"></div>
            <form asp-controller="Admin" asp-action="TambahStaff" method="post">
                <div class="form-group row">
                    <div class="col-lg-2 col-md-3 col-form-label">
                        <label asp-for="Nip"></label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-lg-10 col-md-9">
                        <input asp-for="Nip" class="form-control" />
                        <span asp-validation-for="Nip" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-3 col-form-label">
                        <label asp-for="NamaLengkap"></label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-lg-10 col-md-9">
                        <input asp-for="NamaLengkap" class="form-control"/>
                        <span asp-validation-for="NamaLengkap" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-3 col-form-label">
                        <label asp-for="Email"></label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-lg-10 col-md-9">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NoHp" class="col-lg-2 col-md-3 col-form-label"></label>
                    <div class="col-lg-10 col-md-9">
                        <input asp-for="NoHp" class="form-control"/>
                        <span asp-validation-for="NoHp" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-3 col-form-label">
                        <label asp-for="Jabatan"></label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-lg-10 col-md-9">
                        <select asp-for="Jabatan" class="custom-select form-control mr-sm-2">
                            <option selected></option>
                            <option value="Admin">Admin</option>
                            <option value="Tata Usaha">Tata Usaha</option>
                            <option value="Waka Kesiswaan">Waka Kesiswaan</option>
                        </select>
                        <span asp-validation-for="Jabatan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-3 col-form-label">
                        <label asp-for="Username"></label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-lg-10 col-md-9">
                        <input asp-for="Username" class="form-control"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-3 col-form-label">
                        <label asp-for="Password"></label>
                        <span class="text-danger">*</span>
                    </div>                    
                    <div class="col-lg-10 col-md-9">
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ConfirmPassword" class="col-lg-2 col-md-3 col-form-label"></label>
                    <div class="col-lg-10 col-md-9">
                        <input asp-for="ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="my-1 fa-pull-right">
                    <a class="btn border" asp-controller="Admin" asp-action="KelolaStaff"
                            onclick="return confirm('Apa anda yakin ingin membatalkan?')">
                        Batal
                    </a>
                    <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>