<h1 class="mb-4">Judul</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Peraturan & Keterangan</h6>
    </div>
    <div class="card-body">
        waktu
        jumlah soal
        kategori
        <a asp-controller="Ujian" asp-action="SeleksiAkademik" class="btn btn-primary">Mulai Seleksi</a>
    </div>
</div>
