<h1 class="mb-3">Terimakasih</h1>
<div class="col-lg-9">
    <div class="card shadow mb-4">
        <div class="d-block card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary"></h5>
        </div>
        <div class="card-body">
            <p>
                Terimakasih anda telah mengikuti seleksi ini.<br />
                silahkan menuju halaman utama untuk menyelesaikan seleksi akademik lain.<br />
                tekan tombol dibawah untuk kembali ke halaman utama<br />
                <a class="btn btn-primary" asp-controller="Ujian" asp-action="Index">Halaman Utama</a>
            </p>
        </div>
    </div>
</div>