@model HasilSeleksiModel
@{
    ViewBag.Title = "Hasil Seleksi";
}
<br />
<br />
<br />
<div style="text-align:center">
    @if (Model.Status.Equals("Lolos"))
    {
        <div class="alert alert-success text-success mb-4" style="font-size:xx-large">Selamat kamu lolos tahap seleksi</div>
        <a class="alert alert-warning text-warning">Segara lakukan pendaftaran ulang</a>
    }
    else if (Model.Status.Equals("Tidak Lolos"))
    {
        <div class="alert alert-danger text-danger" style="font-size:xx-large">Maaf kamu tidak lolos tahap seleksi</div>
        <a class="alert alert-warning text-warning"></a>
    }
    else if (Model.Status.Equals("Daftar Ulang"))
    {
        <div class="alert alert-primary text-primary" style="font-size:xx-large">Terimakasih anda telah terdaftar</div>
        <a class="alert alert-warning text-warning">Anda telah terdaftar di SMA Brawijaya Smart School</a>
    }
    else if (Model.Status.Equals("Sudah Ujian"))
    {
        <div class="alert alert-info text-info mb-5" style="font-size:xx-large">Hasil sedang diproses</div>
        <a class="alert alert-warning text-warning">Silahkan tunggu beberapa saat lagi</a>
    }
    else if (Model.Status.Equals("Daftar Baru"))
    {
        <div class="alert alert-secondary text-secondary mb-5" style="font-size:xx-large">Belum melaksanakan ujian seleksi</div>
        <a class="alert alert-warning text-warning">Tanggal ujian anda: @Model.TanggalUjian</a>
    }
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
