@model KelolaSoalAkademikModel
@{
    ViewBag.Title = "Kelola Kelas";
}

@if (Model.ListSoal.Count() < 1)
{
    <div>Kosong</div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Kelas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="5">
                    <thead class="table-warning text-dark">
                        <tr>
                            <th><b>Nama Kelas   </b></th>
                            <th><b>Kategori     </b></th>
                            <th><b>Tingkat      </b></th>
                            <th><b>Jumlah Siswa </b></th>
                            <th><b>Aksi         </b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var soalAkademik in Model.ListSoal)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a asp-controller="WakaKesiswaan" asp-action="RincianKelas" asp-route-id=""
                                       class="btn btn-info">
                                        Rincian
                                    </a>
                                    <button data-target="#ModalUbahKelas" data-toggle="modal" class="btn btn-warning">
                                        Ubah
                                    </button>
                                    <form asp-controller="WakaKesiswaan" asp-action="HapusKelas" asp-route-id=""
                                          method="post" class="delete-button mt-1">
                                        <button type="submit" onclick="return confirm('Apa anda yakin ingin menghapus Soal @soalAkademik.Judul?')"
                                                class="btn btn-danger">
                                            Hapus
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@*Modal*@
<div id="ModalTambahKelas" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tambah Kelas</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>
<div id="ModalUbahKelas" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ubah Kelas</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    @if (ViewBag.Pesan != null)
    {
        @: alert("@ViewBag.Pesan");
    }

    //Ajax ubah soal

    </script>
}