@model LoginTesAkademikModel
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2><strong>Login Page </strong></h2><br />
                <form asp-controller="Auth" asp-action="LoginStaff" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post">
                    <div class="form-group">
                        <label asp-for="NoPendaftaran"></label>
                        <div>
                            <input class="form-control" asp-for="NoPendaftaran" placeholder="Enter user name" />
                            <span class="text-danger" asp-validation-for="NoPendaftaran"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Kode"></label>
                        <div>
                            <input type="password" class="form-control" asp-for="Kode" placeholder="Enter user name" />
                            <span class="text-danger" asp-validation-for="Kode"></span>
                        </div>
                    </div>
                    <div class="form-check">
                        <button class="btn btn-info" type="reset">Reset</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>