@{ 
    ViewBag.Title = "Daftar Ulang";
}

<div>
    <p>Cari nomor pendaftaran</p>
    <form>
        <div class="input-group">
            <input class="form-control" >
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Search Result -->
<div>

</div>