@{ 
    ViewBag.Title = "Pendaftaran Siswa Baru";
}

<div>
    <form>
        <div>
            <label></label>
            <span class="text-danger">*</span>
            <input />
        </div>
        <div>
            <label></label>
            <span class="text-danger">*</span>
            <input />
        </div>
        <div>
            <label></label>
            <span class="text-danger">*</span>
            <input />
        </div>
        <div>
            <label></label>
            <span class="text-danger">*</span>
            <input />
        </div>
        <div>
            <label></label>
            <span class="text-danger">*</span>
            <input />
        </div>
        <div>
            <label></label>
            <input type="checkbox" />
        </div>
        <div class="fa-pull-right">
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</div>