@model DaftarUlangModel
@{ 
    ViewBag.Title = "Daftar Ulang";
}

<div>
    <p>Cari nomor pendaftaran</p>
    <form>
        <div class="input-group">
            <input class="form-control" >
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Search Result -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Form tambah staff</h6>
    </div>
    <div class="card-body">
        <div>
            <label asp-for="NoPendaftaran"></label>:<label>@Model.NoPendaftaran</label>
            <label asp-for="JalurPendaftaran"></label>:<label>@Model.JalurPendaftaran</label>
            <label asp-for="NamaLengkap"></label>:<label>@Model.NamaLengkap</label>
            <label asp-for="Status"></label>:<label>@Model.Status</label>
        </div>
    </div>
</div>