@model TestWawancaraModel

<div class="col-lg-9">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pencarian Soal</h6>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All"></div>
            <form asp-action="TestWawancara">
                <div class="form-group row">
                    <div class="col-md-3 col-form-label">
                        <label asp-for="NoPendaftaran"></label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-md">
                        <input asp-for="NoPendaftaran" class="form-control" />
                        <span asp-validation-for="NoPendaftaran" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-form-label">
                        <label asp-for="Target"></label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-md">
                        <select asp-for="Target" class="form-control">
                            <option selected></option>
                            <option value="CalonSiswa">Calon Siswa</option>
                            <option value="OrangTua">Orang Tua / Wali</option>
                        </select>
                        <span asp-validation-for="Target" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Test Wawancara</button>
                </div>
            </form>
        </div>
    </div>
</div>