@{ 
    ViewBag.Title = "Penentuan Jalur Khusus";
}

<div>
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="5">
            <thead>
                <tr>
                    <th><b>No Pendaftaran</b></th>
                    <th><b>Nama Lengkap</b></th>
                    <th><b>IPA</b></th>
                    <th><b>IPS</b></th>
                    <th><b>TPA</b></th>
                    <th><b>Rata-rata</b></th>
                    <th><b>Keterangan</b></th>
                    <
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tes akademik 2019/2020</td>
                    <td>Jalur Khusus</td>
                    <td>Calon Siswa</td>
                    <td>30 dari 40</td>
                    <td>
                        <a href="#">Rincian</a>
                        <a href="#">Ubah</a>
                        <a href="#">Hapus</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>