@model SeleksiModel
@{
    ViewBag.Title = "Penentuan Jalur Prestasi";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sudah ujian</h6>
    </div>
    <div class="card-body">
        @if (Model.ListAkun.Count() < 1)
        {
            @: kosong
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="5">
                    <thead class="table-warning text-dark">
                        <tr>
                            <th>No Pendaftaran  </th>
                            <th>Nama Lengkap    </th>
                            <th>Prestasi        </th>
                            <th>Rapor           </th>
                            <th>Tes Wawancara   </th>
                            <th>Aksi            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var akun in Model.ListAkun)
                        {
                            <tr>
                                <td>@akun.NoPendaftaran</td>
                                <td>@akun.NamaLengkap</td>
                                <td>
                                    <a href="#">Lihat</a>
                                </td>
                                <td class="text-center">
                                    <a href="#">Lihat</a>
                                </td>
                                <td class="text-center">
                                    <a href="#">Lihat</a>
                                </td>
                                <td class="text-center">
                                    <button onclick="SeleksiPrestasi('@akun.NoPendaftaran', '@akun.NamaLengkap')" data-toggle="modal" class="btn btn-primary">
                                        Seleksi
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
@*Modal*@
<div id="ModalSeleksiPrestasi" data-keyboard="false" data-backdrop="static" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seleksi</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body align-items-center">
                <h6><span name="namaCalonSiswa">-</span> dengan nomor pendaftaran <span name="noPendaftaran">-</span> dinyatakan:</h6>
                <div class="row">
                    <div class="col formTdkLolos" style="text-align:center">
                        <form asp-controller="PsbTes" asp-action="SeleksiJalurPrestasi">
                            <input type="hidden" name="noPendaftaran" value="-" />
                            <input type="hidden" name="isLolos" value="false" />
                            <button class="btn btn-danger btn-lg" type="submit">Tidak Lolos</button>
                        </form>
                    </div>
                    <div class="col formLolos" style="text-align:center">
                        <form asp-controller="PsbTes" asp-action="SeleksiJalurPrestasi">
                            <input type="hidden" name="noPendaftaran" value="-" />
                            <input type="hidden" name="isLolos" value="true" />
                            <button class="btn btn-success btn-lg" type="submit">Lolos</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function SeleksiPrestasi(noPendaftaran, namaLengkap) {
            $('#ModalSeleksiPrestasi').modal();
            $('#ModalSeleksiPrestasi [name="noPendaftaran"]').text(noPendaftaran);
            $('#ModalSeleksiPrestasi [name="namaCalonSiswa"]').text(namaLengkap);
            $('#ModalSeleksiPrestasi .formTdkLolos [name="noPendaftaran"]').val(noPendaftaran);
            $('#ModalSeleksiPrestasi .formLolos [name="noPendaftaran"]').val(noPendaftaran);
        }
    </script>
}